Data storage

<form action="/set" method="get">
  <label for="somekey">
    Key
    <input type="text" name="somekey">
  </label>
  <br>
  <label for="somevalue">
    Value
    <input type="text" name="somevalue">
  </label>
  <br>
  <input type="submit" value="Store this item">
</form>
